<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fise.dao.IMVedioRecordeMapper">
	<resultMap id="BaseResultMap" type="com.fise.model.entity.IMVedioRecorde">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="dev_id" jdbcType="INTEGER" property="devId" />
		<result column="account" jdbcType="VARCHAR" property="account" />
		<result column="file_name" jdbcType="VARCHAR" property="fileName" />
		<result column="duration" jdbcType="INTEGER" property="duration" />
		<result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
		<result column="vedio_url" jdbcType="VARCHAR" property="vedioUrl" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="created" jdbcType="INTEGER" property="created" />
	</resultMap>
	
	<resultMap id="ResultMap" type="com.fise.model.result.IMVedioResult">
		<result column="company_name" jdbcType="VARCHAR" property="companyName" />
		<result column="dev_count" jdbcType="INTEGER" property="devCount" />
		<result column="img_count" jdbcType="INTEGER" property="imgCount" />
		<result column="vedio_count" jdbcType="INTEGER" property="vedioCount" />
	</resultMap>
	
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, dev_id, file_name, duration, image_url, vedio_url, status, type,
		created
	</sql>
	<select id="selectByExample" parameterType="com.fise.model.entity.IMVedioRecordeExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from IMVedioRecorde
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limit != null">
			<if test="offset != null">
				limit ${offset}, ${limit}
			</if>
			<if test="offset == null">
				limit ${limit}
			</if>
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from IMVedioRecorde
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from IMVedioRecorde
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.fise.model.entity.IMVedioRecordeExample">
		delete from IMVedioRecorde
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.fise.model.entity.IMVedioRecorde">
		insert into IMVedioRecorde (id, dev_id, file_name,
		duration, image_url, vedio_url,
		status, type, created
		)
		values (#{id,jdbcType=INTEGER}, #{devId,jdbcType=INTEGER},
		#{fileName,jdbcType=VARCHAR},
		#{duration,jdbcType=INTEGER}, #{imageUrl,jdbcType=VARCHAR}, #{vedioUrl,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER}, #{type,jdbcType=INTEGER},
		#{created,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.fise.model.entity.IMVedioRecorde">
		insert into IMVedioRecorde
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="devId != null">
				dev_id,
			</if>
			<if test="fileName != null">
				file_name,
			</if>
			<if test="duration != null">
				duration,
			</if>
			<if test="imageUrl != null">
				image_url,
			</if>
			<if test="vedioUrl != null">
				vedio_url,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="created != null">
				created,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="devId != null">
				#{devId,jdbcType=INTEGER},
			</if>
			<if test="fileName != null">
				#{fileName,jdbcType=VARCHAR},
			</if>
			<if test="duration != null">
				#{duration,jdbcType=INTEGER},
			</if>
			<if test="imageUrl != null">
				#{imageUrl,jdbcType=VARCHAR},
			</if>
			<if test="vedioUrl != null">
				#{vedioUrl,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="created != null">
				#{created,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.fise.model.entity.IMVedioRecordeExample"
		resultType="java.lang.Long">
		select count(*) from IMVedioRecorde
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update IMVedioRecorde
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.devId != null">
				dev_id = #{record.devId,jdbcType=INTEGER},
			</if>
			<if test="record.fileName != null">
				file_name = #{record.fileName,jdbcType=VARCHAR},
			</if>
			<if test="record.duration != null">
				duration = #{record.duration,jdbcType=INTEGER},
			</if>
			<if test="record.imageUrl != null">
				image_url = #{record.imageUrl,jdbcType=VARCHAR},
			</if>
			<if test="record.vedioUrl != null">
				vedio_url = #{record.vedioUrl,jdbcType=VARCHAR},
			</if>
			<if test="record.status != null">
				status = #{record.status,jdbcType=INTEGER},
			</if>
			<if test="record.type != null">
				type = #{record.type,jdbcType=INTEGER},
			</if>
			<if test="record.created != null">
				created = #{record.created,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update IMVedioRecorde
		set id = #{record.id,jdbcType=INTEGER},
		dev_id = #{record.devId,jdbcType=INTEGER},
		file_name = #{record.fileName,jdbcType=VARCHAR},
		duration = #{record.duration,jdbcType=INTEGER},
		image_url = #{record.imageUrl,jdbcType=VARCHAR},
		vedio_url = #{record.vedioUrl,jdbcType=VARCHAR},
		status = #{record.status,jdbcType=INTEGER},
		type = #{record.type,jdbcType=INTEGER},
		created = #{record.created,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.fise.model.entity.IMVedioRecorde">
		update IMVedioRecorde
		<set>
			<if test="devId != null">
				dev_id = #{devId,jdbcType=INTEGER},
			</if>
			<if test="fileName != null">
				file_name = #{fileName,jdbcType=VARCHAR},
			</if>
			<if test="duration != null">
				duration = #{duration,jdbcType=INTEGER},
			</if>
			<if test="imageUrl != null">
				image_url = #{imageUrl,jdbcType=VARCHAR},
			</if>
			<if test="vedioUrl != null">
				vedio_url = #{vedioUrl,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="created != null">
				created = #{created,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.fise.model.entity.IMVedioRecorde">
		update IMVedioRecorde
		set dev_id = #{devId,jdbcType=INTEGER},
		file_name = #{fileName,jdbcType=VARCHAR},
		duration = #{duration,jdbcType=INTEGER},
		image_url = #{imageUrl,jdbcType=VARCHAR},
		vedio_url = #{vedioUrl,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		type = #{type,jdbcType=INTEGER},
		created = #{created,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>


	<select id="selectByPage" parameterType="map" resultMap="BaseResultMap">
		SELECT
		   *
		FROM
		(
			SELECT
				u.domain account,
				u.companyId,
				v.*
			FROM
				IMUser u
				INNER JOIN IMVedioRecorde v ON u.id = v.dev_id
		) a
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</select>
	
	<select id="queryVideoRecordCount" parameterType="java.lang.Integer" resultMap="ResultMap">
		SELECT
			a.*, b.*
		FROM
			(
				SELECT
					sum(IF(a.type = 0, 1, 0)) vedio_count,
					sum(IF(a.type = 1, 1, 0)) img_count
				FROM
					(
						SELECT
							u.companyId,
							v.dev_id,
							v.type
						FROM
							IMUser u
						INNER JOIN IMVedioRecorde v ON v.dev_id = u.id
						WHERE
							u.companyId = #{companyId,jdbcType=INTEGER}
					) a
			) a,
			(
				SELECT
					count(u.id) dev_count,
					o.`name` company_name
				FROM
					IMUser u
				INNER JOIN wi_organization o ON o.id = u.companyId
				WHERE
					u.companyId = #{companyId,jdbcType=INTEGER}
			) b
	</select>

</mapper>